@keyframes dropAnimation {
    0% {
        transform: translateY(-55px);
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes splitAnimationLeft {
    0% {
        transform: translate(55px, -55px) scale(0);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes splitAnimationRight {
    0% {
        transform: translate(-55px, -55px) scale(0);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes mergeAnimationLeft {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        transform: translate(55px, -55px) scale(0);
    }
}

@keyframes mergeAnimationRight {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        transform: translate(-55px, -55px) scale(0);
    }
}